/* CUSTOM CLASSES */
.newest-collection .vc_column_container>.vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}

.text-teaser {
  padding-bottom: 30px;
}

.text-teaser .wpb_column:last-child .vc_column-inner {
  padding: 0 !important;
}

/* PAGE */
.page-title {
  margin-bottom: 15px;
}

/* FILTERS */
.filters-area.custom-content {
  display: none !important;
}

/* PAGINATION */
.page-numbers.prev,
.page-numbers.next {
  display: none !important;
}

/* SINGLE PRODUCT */
.woocommerce-product-gallery .thumbnails.thumbnails-ready {
  display: none;
}

/* FOOTER */
.footer-sidebar {
  padding: 50px 15px 40px;
}

.main-footer {
  text-align: center;
}

.main-footer p {
  padding: 0 30px;
}

.widget_nav_menu {
  margin-top: 15px;
}
