@import "../utilities/variables";

.entry-title {
  font-size: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 0.4px;
}

.page-title {
  height: 160px;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 15px;
  background-color: $color-brand-primary;

  @media (min-width: $screen-size-desktop) {
    margin-bottom: 0;
  }

  .entry-title {
    color: $color-white !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    letter-spacing: 0.4px;
  }
}

.main-page-wrapper {
  padding-top: 70px !important;
  margin-top: 0;

  @media (min-width: $screen-size-desktop) {
    padding-top: 156px !important;
  }
}
