@import '../utilities/variables';

.custom-shop-button,
.social-banner,
.product-picker,
.text-teaser {
  margin-top: 20px;

  @media (min-width: $screen-size-tablet) {
    margin-top: 8vh;
  }
}

.custom-shop-button {
  padding: 15px 45px !important;
  font-family: $font-family-montserrat;
  background-color: $color-brand-primary !important;
  color: $color-white !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 2px;
  letter-spacing: 2.4px;
}

.social-banner .btn.btn-color-white,
.newest-collection .btn.btn-color-white {
  color: $color-text;
  font-size: 12px;
  letter-spacing: 2.4px;
  font-weight: 500;
  font-family: $font-family-montserrat;
  padding: 15px 45px;

  &:hover {
    box-shadow: none;
    color: rgba(28, 27, 27, 0.6) !important;
  }
}
