@import '../utilities/variables';
@import '../utilities/components/button-black-cta';

.single-product-page {
  @media (min-width: $screen-size-desktop) {
    padding-top: 30px;
  }

  .reset_variations,
  .quantity,
  .wd-attr-selected,
  .product-tabs-wrapper {
    display: none !important;
  }

  .product-images {
    padding: 0;
    margin-bottom: 0;

    .product-image-wrap {
      padding: 0;
    }
  }

  .thumbnails {
    display: none;

    @media (min-width: $screen-size-desktop) {
      display: flex;
    }
  }

  // TODO: finish
  .entry-summary {
    position: relative;
    padding-top: 20px;

    @media (min-width: $screen-size-desktop) {
      padding-top: 0;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      height: 50px;
      border-radius: 50px 50px 0 0;
      background-color: $color-white;
      //box-shadow: 0 10px 120px rgba(0, 0, 0, 0.3);
    }
  }

  .product_title {
    font-family: $font-family-montserrat;
    color: $color-text;
    letter-spacing: 0.4px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .amount {
    font-size: 18px;
  }

  p {
    font-family: $font-family-nunito;
    font-size: 16px;
    font-weight: 300;
  }

  li {
    font-family: $font-family-nunito;
    font-size: 16px;
    font-weight: 300;

    &::before {
      display: none;
    }
  }

  .stock {
    &.out-of-stock {
      text-align: center;
    }

    &.in-stock {
      text-align: center;
      font-weight: 500;
      color: $color-success;

      &::before {
        color: $color-success;
      }
    }
  }

  tr {
    margin: 20px;
  }

  .variations_form {
    .variations {
      label {
        &:after {
          display: none;
        }
      }
    }
  }

  .single_add_to_cart_button {
    @extend .button-black-cta;
    margin-top: 40px;

    @media (min-width: $screen-size-desktop) {
      margin-top: 20px;
    }
  }
}
