.error404 {
  .page-header {
    display: none;
  }

  .page-content {
    margin-top: 80px;

    h2 {
      text-align: center;
      font-weight: 500;
    }

    p {
      display: none;
    }

    .woodmart-search-form {
      display: none;
    }
  }
}
