@import '../utilities/variables';
@import '../utilities/components/button-white';

.custom-shop-button,
.social-banner,
.product-picker,
.text-teaser {
  margin-top: 20px;

  @media (min-width: $screen-size-tablet) {
    margin-top: 8vh;
  }
}

.custom-shop-button {
  padding: 15px 45px !important;
  font-family: $font-family-montserrat;
  background-color: $color-brand-primary !important;
  color: $color-white !important;
  font-weight: 500;
  font-size: 12px;
  border-radius: 2px;
  letter-spacing: 2.4px;
}
