@import '../utilities/variables';

.whb-header-bottom {
  border-bottom: 1px solid $color-background !important;
  height: 85px;

  .woodmart-shopping-cart {
    .wd-cart-number,
    .subtotal-divider,
    .wd-cart-subtotal {
      color: $color-text;
      font-weight: 400;
    }

    .wd-custom-icon {
      margin-bottom: 2px;
    }

    :hover {
      .wd-custom-icon,
      .wd-cart-number,
      .subtotal-divider,
      .wd-cart-subtotal {
        opacity: $icon-hover-opacity;
      }
    }
  }
}
