@import '../utilities/variables';

.whb-general-header {
  background-color: $color-brand-primary !important;

  &-inner {
    height: 70px !important;
  }

  .woodmart-logo {
    img {
      max-width: 160px;
    }
  }

  .mobile-search-icon,
  .mobile-nav-icon {
    color: $color-white;

    &:hover {
      opacity: 0.8;
    }
  }

  .my-account-with-username {
    @media (min-width: $screen-size-desktop) {
      .wd-tools-icon,
      .wd-tools-text {
        color: $color-white;
        text-transform: capitalize;
        margin-left: 14px;
        letter-spacing: 0.3px;
      }

      &:hover {
        .wd-tools-icon,
        .wd-tools-text {
          opacity: 0.8;
        }
      }
    }
  }
}
