@import '../utilities/variables';

.whb-header-bottom {
  border-bottom: 1px solid $color-background;

  &-inner {
    height: 85px;
  }

  .woodmart-shopping-cart {
    a {
      color: $color-text;

      .amount {
        color: $color-text;
      }

      .woodmart-cart-totals {
        margin-top: 3px;
      }
    }
  }
}
