@import '../utilities/variables';

.whb-header-bottom {
  border-bottom: 1px solid $color-background;

  &-inner {
    height: 85px !important;
  }

  .woodmart-shopping-cart {
    .woodmart-cart-subtotal {
      .amount {
        color: $color-text;
      }
    }
  }
}
