@import '../utilities/variables';

.whb-general-header {
  background-color: $color-brand-primary !important;

  &-inner {
    height: 70px !important;
  }

  .woodmart-logo {
    img {
      max-width: 160px;
    }
  }

  .mobile-search-icon,
  .mobile-nav-icon {
    color: $color-white;

    &:hover {
      opacity: 0.8;
    }
  }

  @media (min-width: $screen-size-desktop) {
    input[type='text'] {
      height: 40px;
      width: 500px;
      border: none;
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 14px;
      letter-spacing: 0.3px;
      color: #808080;
      padding-left: 20px;
      padding-right: 55px;
    }

    .my-account-with-icon {
      .wd-tools-text {
        text-transform: capitalize;
        margin-left: 14px;
        letter-spacing: 0.3px;
      }
    }

    .woodmart-header-links {
      a {
        color: $color-white;
        font-size: 12px;

        &:hover {
          color: $color-white;
          opacity: 0.6;
        }
      }
    }

    .search-results-wrapper {
      .woodmart-scroll {
        top: calc(100% + 10px);
        left: 0 !important;
        right: 0 !important;
        border-radius: 4px;
      }
    }
  }
}
