@import '../utilities/variables';

.whb-general-header {
  background-color: $color-brand-primary !important;
  height: 70px !important;

  .whb-mobile-right {
    .wd-custom-icon {
      &:hover {
        opacity: $icon-hover-opacity;
      }
    }
  }

  .wd-header-my-account {
    @media (min-width: $screen-size-desktop) {
      .wd-tools-text {
        color: $color-white;
        text-transform: capitalize;
        margin-left: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
      }

      &:hover {
        .wd-custom-icon,
        .wd-tools-text {
          opacity: $icon-hover-opacity;
        }
      }
    }
  }
}
