@import '../utilities/variables';
@import '../utilities/components/button-white';

.newest-collection {
  .btn.btn-color-white {
    @extend .button-white;
  }

  .vc_column_container {
    & > .vc_column-inner {
      padding-left: 0;
      padding-right: 0;
    }

    .vc_column_container {
      & > .vc_column-inner {
        margin-top: 15px;

        @media (min-width: $screen-size-tablet) {
          margin-top: 0;
        }
      }
    }
  }

  img {
    max-height: 450px;
    object-fit: cover;

    @media (min-width: $screen-size-desktop) {
      max-height: 450px;
    }
  }
}
