@import '../utilities/variables';

.woodmart-sticky-sidebar-opener {
  flex-basis: auto !important;
  background-color: transparent;
  border-radius: 100%;
  padding: 0 !important;
  width: 70px !important;
  height: 70px !important;
  animation: animate-filters forwards ease-in 200ms 1000ms;
  flex-grow: 0 !important;

  .woodmart-toolbar-label {
    bottom: 15px;
  }
}

.filters-area {
  &.custom-content {
    display: none !important;
  }
}

.shop-loop-head,
.woodmart-buttons {
  display: none;
}

.filters-area+.woodmart-active-filters {
  margin-top: -10px;
}

@media (min-width: $screen-size-desktop) {
  .filters-area {
    &.custom-content {
      display: block !important;
      border-top: 0 !important;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 12px;
    }
  }

  .woodmart-pf-title {
    border: 1px solid rgba(0,0,0,0.1);
    padding-left: 20px;
    letter-spacing: 0.3px;
    background-color: $color-white;

    .title-text {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: $color-text;
    }
  }

  .form-style-semi-rounded {
    .woodmart-pf-title {
      border-radius: 2px;
    }
  }

  .woodmart-pf-dropdown {
    background-color: $color-white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 3px rgba(0,0,0,.15);

    .pf-value {
      height: 46px;
    }
  }
}
