@import '../utilities/variables';

#menu-hlavne-menu,
#menu-hlavne-menu-1 {
  .woodmart-nav-link {
    font-family: $font-family-montserrat;
    color: $color-text;
    font-weight: 500;
    font-size: 12px;

    @media (min-width: $screen-size-desktop) {
      padding-right: 30px;
      letter-spacing: 0.3px
    }
  }

  .menu-item {
    &:nth-child(2) {
      .woodmart-nav-link {
        color: $color-brand-accent;
        font-weight: 600;
      }
    }

    @media (min-width: $screen-size-desktop) {
      &:nth-child(n + 8) {
        display: none;
      }
    }
  }
}
