@import '../utilities/variables';

div[data-id='pa_velkost'] {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .woodmart-swatch {
    width: 48px;
    height: 48px;
    border-radius: 15px;
    margin: 7px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: $color-background-light;
    transition: all 100ms;

    &:hover {
      background-color: $color-background;
    }

    &:active {
      transform: scale(0.92);
      background-color: $color-background;
    }

    &.active-swatch {
      background-color: $color-background;
    }

    &::after {
      display: none;
    }
  }
}
