@import '../utilities/variables';
@import '../utilities/components/swatch-base';

div[data-id='pa_velkost'] {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .woodmart-swatch {
    @extend .swatch-base;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: $color-background-light;

    &:hover {
      background-color: $color-background;
    }

    &:active {
      background-color: $color-background;
    }

    &.active-swatch {
      background-color: $color-background;
    }

    &::after {
      display: none;
    }
  }
}
