.related-and-upsells {
  .upsells-carousel {
    margin-top: 40px !important;
    border-top: 1px solid rgba(0,0,0,0.1) !important;
    padding-top: 30px !important;
  }

  .related-products {
    margin-top: 40px !important;
    border-top: 1px solid rgba(0,0,0,0.1) !important;
    padding-top: 30px !important;
  }

  .slider-title {
    font-weight: 500 !important;
  }
}
