@import '../utilities/variables';

.whb-general-header {
  .woodmart-search-form {
    @media (min-width: $screen-size-desktop) {
      input[type='text'] {
        height: 40px;
        width: 500px;
        border: none;
        border-radius: $radius-normal;
        background-color: rgba($color-white, 0.1);
        font-size: 14px;
        letter-spacing: 0.3px;
        color: rgba($color-white, 0.5);
        padding-left: 20px;
        padding-right: 55px;
      }

      .searchsubmit {
        &:before {
          border-left-color: transparent;
        }

        &:hover {
          opacity: $icon-hover-opacity;
        }

        .wd-custom-icon {
          width: 24px;
          height: 24px;
        }
      }

      .search-results-wrapper {
        .wd-scroll {
          top: calc(100% + 10px);
          left: 0 !important;
          right: 0 !important;
          border-radius: $radius-normal;
        }
      }
    }
  }
}
