@import "../import/variables";

/* PAGE TITLE */
.page-title {
  height: 160px;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.entry-title {
  font-size: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 0.4px;
}

/* PAGE */
.main-page-wrapper {
  padding-top: 70px !important;
  margin-top: 0;
}

/* landscape */
@media (min-width: $screen-size-landscape) {
  /* PAGE */
  .page-title {
    margin-bottom: 15px;
  }
}

/* tablet */
@media (min-width: $screen-size-tablet) {
  /* PAGE */
  .page-title {
    margin-bottom: 15px;
  }
}

@media (min-width: $screen-size-desktop) {
  /* PAGE */
  .main-page-wrapper {
    padding-top: 156px !important;
  }
}
