@import "../import/variables";

.shop-title-wrapper .woodmart-back-btn {
  display: none;
}

/* PAGINATION */
.woocommerce-pagination li .page-numbers {
  border-radius: 2px;
  padding: 5px 10px;
}

/* PAGINATION */
.page-numbers.prev,
.page-numbers.next {
  display: none !important;
}

/* PRODUCT TEASER */
.woodmart-hover-tiled .product-wrapper {
  box-shadow: none;
  text-align: center;
}

.product-grid-item .product-title, .product-title {
  color: #1C1B1B;
  font-size: 10px !important;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 160%;
}

.product-grid-item .woodmart-product-cats a {
  color: #1C1B1B;
  font-size: 10px !important;
  font-weight: 300;
  letter-spacing: 1px;
}

.price del {
  color: #B2B2B2;
}

.woocommerce-Price-amount.amount {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
}

.wrap-wishlist-button,
.wrap-quickview-button {
  display: none;
}

.woodmart-add-btn,
.add-to-cart-loop {
  width: 100%;
}

.woodmart-hover-base[class*=add-small] .wd-bottom-actions>div:not(:last-child) {
  border: none;
}

.woodmart-pf-btn {
  flex-grow: 1;
}

.woodmart-pf-btn button {
  width: 100%;
}

.product-label {
  background-color: white !important;
  color: #1C1B1B !important;
  font-size: 10px !important;
  letter-spacing: 1px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-weight: 600 !important;
}

@media (min-width: $screen-size-desktop) {
  /* PRODUCT TEASER */
  .product-grid-item .product-title, .product-title {
    font-size: 12px !important;
    letter-spacing: 1.2px;
  }

  .product-grid-item .woodmart-product-cats a {
    font-size: 12px !important;
    letter-spacing: 1.2px;
  }

  .woocommerce-Price-amount.amount {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
}
