@import '../utilities/variables';

:root {
  --wd-primary-color: #{$color-brand-primary} !important;
  --wd-alternative-color: #{$color-brand-accent} !important;
  --notices-warning-bg: #{$color-brand-accent} !important;
  --notices-success-bg: #{$color-success} !important;
  --wd-link-color: #{$color-brand-primary} !important;
  --wd-link-color-hover: #{$color-brand-primary-hover} !important;
  --wd-widget-title-color: #{$color-brand-primary} !important;
  --btn-shop-bgcolor: #{$color-brand-primary} !important;
  --btn-shop-bgcolor-hover: #{$color-brand-primary-hover} !important;
  --btn-shop-color: #{$color-white} !important;
  --btn-shop-color-hover: #{$color-white} !important;
  --btn-shop-brd-radius: #{$radius-normal}  !important;
  --btn-accent-bgcolor: #{$color-brand-primary} !important;
  --btn-accent-bgcolor-hover: #{$color-brand-primary-hover} !important;
  --btn-accent-color: #{$color-white} !important;
  --btn-accent-color-hover: #{$color-white} !important;
  --btn-accent-brd-radius: #{$radius-normal}  !important;
  --btn-default-bgcolor: #{$color-brand-primary} !important;
  --btn-default-bgcolor-hover: #{$color-brand-primary-hover} !important;
  --btn-default-color: #{$color-white} !important;
  --btn-default-color-hover: #{$color-white} !important;
  --btn-default-brd-radius: #{$radius-normal}  !important;
}
