@import '../utilities/variables';

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-montserrat;
  color: $color-text;
}

.entry-title {
  font-size: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 0.4px;
}
