@import '../utilities/variables';

body {
  font-family: $font-family-nunito;
  color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-montserrat;
  color: $color-text;
}

.widget-title {
  font-family: $font-family-montserrat;
  color: $color-text;
}

.product-title,
.product_title {
  font-family: $font-family-montserrat;
  color: $color-text;
  letter-spacing: 0.4px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-link-text {
  font-family: $font-family-montserrat;
  color: $color-text;
  font-weight: 500;
  font-size: 12px;
}
