@import '../utilities/variables';

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-montserrat;
  color: $color-text;
}

.nav-link-text {
  font-family: $font-family-montserrat;
  font-weight: 500;
  color: $color-text !important;
  font-size: 12px;
}

.product-title {
  font-family: $font-family-montserrat;
  color: $color-text;
  text-transform: uppercase;
}

.entry-title {
  font-size: 18px !important;
  font-weight: 500 !important;
  letter-spacing: 0.4px;
}
