$screen-size-desktop:         1025px;
$screen-size-tablet:          768px;
$screen-size-landscape:       577px;

$font-family-montserrat:      "Montserrat", Arial, Helvetica, sans-serif;
$font-family-nunito:          "Nunito Sans", Arial, Helvetica, sans-serif;
$font-family-woodmart:        woodmart-font;

$color-brand-accent:          #CC3370;
$color-text:                  #1C1B1B;
$color-text-gray:             #B2B2B2;
$color-white:                 #FFFFFF;
$color-success:               #3B8217;
